<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/responsive.css">
    
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header3">
    <pre></pre>
    <div class="hamburger-menu" >
        <input id="menu__toggle" type="checkbox" >
        <label class="menu__btn" for="menu__toggle" >
        <span></span>
        </label>
      <ul class="menu__box" >
        <li><a class="5" href="index.html">Home</a></li>
        <li><a class="menu__item" href="#">Company</a></li>
        <li><a class="menu__item" href="#">Profile</a></li>
        <li><a class="menu__item" href="Tomato all.html">Products</a></li>
        <li><a class="menu__item" href="#">Services</a></li>
        <li><a class="menu__item" href="#">R&D</a></li>
        <li><a class="menu__item" href="contactus.html">Contact</a></li>
      </ul>
    </div>
  <div class=container>
      <div class="row">
      <img id="pc" src="img/Logo.svg">
      <div class=nav>
          <form>
              <div class=searchinput>
                  <input name=search placeholder=Search>
                  <img src="img/search.svg">
              </div>
          </form>
          <nav>
              <a href='index.html'>Home</a>
              <a href='#'>Company</a>
              <a href='#'>Profile</a>
              <a href='Tomato all.html'>Products</a>
              <a href='#'>Services</a>
              <a href='#'>R&D</a>
              <a href='contactus.html'>Contacts</a> 
          </nav>
      </div>
  </div>
  </div>
    </div>

    <div class="container">
        
        <a class="buk" href="Kiwi all.html"><img id="pic" style="padding-right: 10px; padding-top: 10px;"   src="Arrow 1.png">Return to all kiwis</a>
     </div>

     
         <div id=app  class="container">
         <div class="row">
             <div class="col-6">
                 <p class="h1t">{{product.title}}<b class="bgren"><br> {{product.short_text}}</b></p>
                 <p class="offercont__star">
                     * * * * *
                     </p>
                     <img id="picb" src="img/TO/Group 17.png">
                     <p class="ttext">Very high yield and<br> excellent fruits quality!
                     </p>
                     <p class="char">CHARACTERISTICS</p>
                     <img id="pc1" src="img/Line 2.svg">
                     <p class="toffercont__text" ><b>Resistance</b><br>
                         HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br> 
                         IR: TYLCV
                         </p>
                     </div> 
                     <div class="col-6">
                         <img id="dd" :src="'Kiwi/'+product.image" style="margin-bottom: 30px;">
                         <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" @click.prevent="addToCart(product.id)" v-if="!btnVisible"><b> Add to cart</b></button>
                         <button type="button" class="btn btn-outline-success btn-rounded" style=" padding: 20px,10px;" v-on:click='btnClick' v-if="btnVisible"><b> Go to cart</b></button>
                     </div>
             <div class="col-6">
                 <p class="char" style="margin-block-start: 30px;">Plant</p>
                 <img id="pc1" src="img/Line 2.svg" style="margin-block-start: -20px;">
                 <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Strong vigor that provides good leaf coverage. </p></li>
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Very high productivity with good fruit setting.</p></li>
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Early matured variety.</p></li>
                   </ul>
             </div>
             <div class="col-6">
                 <p class="char" style="margin-block-start: 30px; ">Cycle</p> 
                 <img id="pc1" src="img/Line 2.svg" style="margin-block-start: -20px;">
                 <ul style="margin-inline-start: -15px; color:#57984C;font-size:17px">
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Spring</p></li>
                     <li><p class="toffercont__text" style="margin-bottom: -0px;"> Fall </p></li>
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Winter</p></li>
                   </ul>
             </div>
             <div class="col-6">
                 <p class="char" style="margin-block-start: 30px;">Fruit</p>
                 <img id="pc1" src="img/Line 2.svg" style="margin-block-start: -20px;">
                 <ul style="margin-inline-start: -15px; color:#57984C; font-size:17px">
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Long shelf life on plant and post harvest.</p></li>
                     <li><p class="toffercont__text" style="margin-bottom: -0px;">Nice shiny attractive deep red color.</p></li>
                     <li><p class="toffercont__text" style="margin-bottom: 140px;">Average fruit size: 140 – 160 grams.</p></li>
                   </ul>
             </div>
             <div class="col-6">
                 <p class="char" style="margin-block-start: 30px; ">Color</p> 
                 <img id="pc1" src="img/Line 2.svg" style="margin-block-start: -20px;">
                 <p class="toffercont__text">Red</p>
             </div>
         </div>
         </div>
     </div>
    <div class="down">
        <div class="container">
            <div class="row">
                <div id="Text1" class="col-9" >
                    <span> <a class="link" href="">PROFILE</a>
                        <a class="link" href=""> MANAGEMENT</a>
                         <a class="link" href="">  PRODUCTS</a>
                         <a class="link" href=""> R&D</a>
                        <a class="link" href=""> LINKS</a>
                        <a class="link" href=""> SITEMAP</a> 
                         <a class="link" href=""> CONTACT</a>
                    </span>
                </div>
                <div class="dwp" class=" col-3">
                    <span>
                        <img src="img/d1.svg"  >
                        <img src="img/d2.svg" >
                        <img src="img/d3.svg" >
                        <img src="img/d4.svg" >
                        <img src="img/d5.svg" >
                        <pre></pre>
                    </span>
                </div> 
        </div>  
    </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <p class="col-12"></p>
  
                <a class="ftr" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
  </body>
  </html>